<div class="pages">
    <div class="header">
        <a class="glyphicon glyphicon-chevron-left" ui-sref="homePage"></a>
        <h2>购物车</h2>
        <span></span>
    </div>
    <div class="main">
        <shop></shop>
    </div>
    <div class="footer">
        <p>
            <span>全选</span>
            <input style="width: 20px;height: 20px;outline:none;" type="checkbox" ng-model="checked" ng-click="checkSum()">
        </p>
        <div>
            <h5>合计金额：{{amount | currency:"¥"}}</h5>
            <h5>合计数量：{{total}}</h5>
        </div>
    </div>
</div>